# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle file-watcher change notifications'
      'command': 'file-watcher:toggleChangeNotifications'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'file-watcher'
      'submenu': [
        {
          'label': 'Toggle change notifications'
          'command': 'file-watcher:toggleChangeNotifications'
        }
      ]
    ]
  }
]
